@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

body {
  font-family: "Inter", sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  max-width: 1000px;
  padding: 2em;
  margin: auto;
  background-color: #F5F5F7;
}

h1 {
  font-weight: 800;
  padding: 30px;
}

h2 {
  font-weight: 700;
  padding: 15px;
}

.header {
  display: flex;
  gap: 1em;
  margin-top: 1em;
}

.header img {
  width: 50%;
  object-fit: cover;
  border-radius: 7px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);

}



.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1em;
  margin-top: 2em;
}

.assignment a {
  color: #000;
  text-decoration: none;
}

.assignment a:hover {
  color: #5746E1;
}

.assignment img {
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 7px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);

  display: inline-block; 
  transition: transform 0.2s ease-in-out; 

}

.assignment p {
  margin-top: 0.5em;
}



.assignment img:hover {
    animation: animate 1.5s ease-in-out;
}

@keyframes animate {
    0% {
        opacity: 1;
        transform: translateY(0px); /* Start above the original position */
    }
    50% {
        opacity: 1;
        transform: translateY(-8px);
        
    }
    100% {
        opacity: 1;
        transform: translateY(0px); /* Move below the original position */
    }
}


.image-text {
  display: flex; 
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}


.image-text img {
  border-radius: 7px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  margin: 10px;
  max-width: 400px;
  height: auto;
}

.image-text-wide img {
  border-radius: 7px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  margin: 10px;
  alignment-baseline: center;
  width: 800px;
 
}

p {
  margin-bottom: 20px;
}

.code {
  background-color: #EFEFEF;
  padding: 10px;
  border-radius: 10px;
  font-family: 'Courier New', Courier, monospace;
}
.image-text-gif img {
  border-radius: 7px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  margin: 10px;
  max-width: 400px;
  height: auto;
}